/* App.css */

.bank-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .bank-form label {
    margin-bottom: 10px;
  }
  
  .bank-form input[type='text'] {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .bank-form input[type='radio'] {
    margin-right: 5px;
  }
  
  .bank-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }